---
import Layout from '~/layouts/PageLayout.astro';

import type { ImageMetadata } from 'astro';
import karnevalPhoto from '~/assets/images/mia/Foto/Aalborg festival/Karneval15.jpg';
import fotoreportageFrilagret from '~/assets/images/mia/Foto/Fotoreportage - Frilagret/Mia_Svensson_Kortreportage_02jpg.jpg';
import introFotoUtstallning from '~/assets/images/mia/Foto/Fotoutställning - Göteborgs Universitet/baby on motobike.jpg';
import introSwinburne from '~/assets/images/mia/Foto/Swinburne Unversitet - Porträtt/103836907_Svensson_Mia_PhotoAss.Photo 8_MS copy.jpg';
import introRomadagen from '~/assets/images/mia/Foto/Romadagen/IMG_2159 copy.jpg';
import miaInIndia from '~/assets/images/mia/mia-in-india.jpg';
import miaProfile from '~/assets/images/mia/mia-no-bg-tuned.png';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features3 from '~/components/widgets/Features3.astro';
import GaleryButton from '~/components/widgets/GaleryButton.astro';
import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import { headerData } from '~/navigation';
import Logos from '~/components/widgets/Logos.astro';
import { miaMailTo } from '~/navigation';

const imagesAalborgFestival = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/images/mia/Foto/Aalborg festival/*.{jpeg,jpg,png,gif}'
);
const imagesFotoUtstallning = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/images/mia/Foto/Fotoutställning - Göteborgs Universitet/*.{jpeg,jpg,png,gif}'
);
const imagesSwinburne = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/images/mia/Foto/Swinburne Unversitet - Porträtt/*.{jpeg,jpg,png,gif}'
);
const imagesFrilagret = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/images/mia/Foto/Fotoreportage - Frilagret/*.{jpeg,jpg,png,gif}'
);
const imagesRomadagen = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/images/mia/Foto/Romadagen/*.{jpeg,jpg,png,gif}'
);

const metadata = {
  title: 'Mia Svensson',
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      {...headerData}
      actions={[
        {
          text: 'Låt oss prata',
          href: miaMailTo,
        },
      ]}
      position="left"
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    id="hero"
    tagline="Frilansande journalist"
    actions={[{ variant: 'primary', text: 'Låt oss prata', href: miaMailTo, icon: 'tabler:coffee' }]}
    image={{
      src: miaProfile,
      alt: 'Mia Profile',
    }}
  >
    <Fragment slot="title"> Mia Svensson </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Jag är journalist, poddmakare och kreativ berättare. Jag lyfter fram det <span class="font-semibold">unika</span
        > i varje historia och får dig att se världen på ett nytt sätt.
      </span>
    </Fragment>
  </Hero2>

  <!-- Content Widget **************** -->

  <Logos>
    <Fragment slot="title"> Uppdragsgivare: </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Logos>

  <!-- Features3 Widget ************** -->

  <Features3
    title="Mina expertisområden"
    subtitle="Utforska mina expertisområden och se hur jag kan bidra till ditt projekt."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Nyfikenhet och kreativitet',
        description: 'Ständigt nyfiken på att utforska nya idéer och kreativa lösningar.',
      },
      {
        title: 'Bra intervjuare',
        description: 'Manga sagder att dem sagder saker som dem har aldrig sagt förut till någon.',
      },
      {
        title: 'Fotojournalistik',
        description: 'Erfarenhet av att berätta historier genom bilder och visuellt innehåll.',
      },
      {
        title: 'Originalt perspektiv',
        description: 'Förmåga att se saker från ett unikt och originellt perspektiv.',
      },
      {
        title: 'Video Production',
        description: 'Erfarenhet av att skapa engagerande videor för olika plattformar.',
      },
      {
        title: 'Historieberättande',
        description: 'Passion för att berätta engagerande och inspirerande historier.',
      },
    ]}
  >
    <!-- <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment> -->
  </Features3>

  <!-- Content Widget **************** -->

  <Content
    id="porfolio"
    title="Mina senaste fotoprojekt"
    subtitle="Jag tycker om att berätta historier genom bilder och visuellt innehåll. Utforska mina senaste fotoprojekt nedan."
    isReversed
    isAfterContent={false}
    image={{
      src: introFotoUtstallning,
      alt: 'Foto Utstallning',
    }}
    items={[
      {
        description:
          'Jag reste till Indien för att fånga den livfulla vardagen och kulturen genom bilder. Jag ville visa det autentiska i landets mångfacetterade livsstil och de färgstarka landskapen som genomsyrar varje hörn.',
      },
    ]}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        <span class="text-2xl">Livet i Indien</span>
      </h3>
      <GaleryButton imagesObj={imagesFotoUtstallning} />
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    image={{
      src: fotoreportageFrilagret,
      alt: 'Fotoreportage Frilagret',
    }}
    items={[
      {
        description:
          'Under mitt arbete på Frilagret i Göteborg tog jag bilder för att dokumentera gemenskapen och den energi som var i luften. Jag ville fånga känslan av att vara en del av något större och ge ett ansikte till de otaliga hjältar som gör skillnad.',
      },
    ]}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        <span class="text-2xl">Fotoreportage Frilagret</span>
      </h3>
      <GaleryButton imagesObj={imagesFrilagret} />
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isReversed
    isAfterContent
    image={{
      src: introSwinburne,
      alt: 'Swinburne Unversitet - Porträtt',
    }}
    items={[
      {
        description:
          'På Swinburne University tog jag porträtt. Genom varje porträtt ville jag fånga den unika individualiteten.',
      },
    ]}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        <span class="text-2xl">Swinburne Unversitet - Porträtt</span>
      </h3>
      <GaleryButton imagesObj={imagesSwinburne} />
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isReversed
    isAfterContent
    image={{
      src: karnevalPhoto,
      alt: 'Photo from Aalborg Karneval',
    }}
    items={[
      {
        description:
          'Aalborg Carneval är ett tillfälle för människor att uttrycka sig själva genom färgglada och kreativa kostymer. Jag tog bilder för att dokumentera den glädje och gemenskap som festivalen sprider, och för att fånga festens energi genom kameran.',
      },
    ]}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        <span class="text-2xl">Aalborg carneval</span>
      </h3>
      <GaleryButton imagesObj={imagesAalborgFestival} />
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isReversed
    isAfterContent
    image={{
      src: introRomadagen,
      alt: 'Foto Romadagen',
    }}
    items={[
      {
        description:
          'Romadagen i Göteborg var en möjlighet för mig att skildra en levande och kulturell händelse. Jag ville föreviga den fantastiska mångfalden av musik, dans och gemenskap som präglade hela dagen.',
      },
    ]}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        <span class="text-2xl">Romadagen</span>
      </h3>
      <GaleryButton imagesObj={imagesRomadagen} />
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <!-- <Steps
    id="resume"
    title="Resume"
    items={[
      {
        title:
          'Graphic Designer <br /> <span class="font-normal">ABC Design Studio, New York, NY</span> <br /> <span class="text-sm font-normal">2021 - Present</span>',
        description: `Collaborate with clients to understand design requirements and objectives. <br /> Develop branding solutions, including logos, color palettes, and brand guidelines. <br /> Design marketing materials such as brochures, posters, and digital assets. <br /> Create visually appealing user interfaces for websites and applications.`,
        icon: 'tabler:briefcase',
      },
      {
        title:
          'Junior Graphic Designer <br /> <span class="font-normal">XYZ Creative Agency, Los Angeles, CA</span> <br /> <span class="text-sm font-normal">2018 - 2021</span>',
        description: `Assisted senior designers in creating design concepts and visual assets. <br /> Contributed to the development of brand identities and marketing collateral. <br /> Collaborated with the marketing team to ensure consistent design across campaigns. <br /> Gained hands-on experience in various design software and tools.`,
        icon: 'tabler:briefcase',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  /> -->

  <!-- Steps Widget ****************** -->

  <!-- <Steps
    id="resume"
    title="Education"
    items={[
      {
        title: `Master of Fine Arts in Graphic Design <br /> <span class="font-normal">New York University's School of Design</span> <br /> <span class="text-sm font-normal">2018 - 2020</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Bachelor of Arts in Graphic Design <br /> <span class="font-normal">New York University's School of Design</span> <br /> <span class="text-sm font-normal">2014 - 2018</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  /> -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Lad mig hjälpa dig att förverkliga din vision"
    subtitle="Skriva till mig om ditt projekt och låt oss skapa något fantastiskt tillsammans."
    actions={[
      {
        variant: 'primary',
        text: 'Låt oss prata',
        href: '/',
        icon: 'tabler:coffee',
      },
    ]}
  >
    <!-- <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment> -->
  </CallToAction>

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="inlägg"
    title="Senaste inläggen"
    information={`Här hittar du mina senaste inlägg. Klicka på länken nedan för att läsa fler.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-spotify',
        callToAction: {
          target: '_blank',
          text: 'Spotify',
          href: 'https://open.spotify.com/show/4vLmISJW3dYqLc66bwXbTM',
        },
      },
      {
        icon: 'tabler:brand-linkedin',
        callToAction: {
          target: '_blank',
          text: 'LinkedIn',
          href: 'https://www.linkedin.com/in/minna-svensson-24176b296/?originalSubdomain=se',
        },
      },
      {
        icon: 'tabler:mail',
        callToAction: {
          target: '_blank',
          text: 'Email',
          href: miaMailTo,
        },
      },
    ]}
    image={{
      src: miaInIndia,
      alt: 'Closeup Picture of Mia',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Om mig</h2>
      <p>
        Jag ser världen lite annorlunda – och jag älskar att få andra att göra det också. Som journalist, poddmakare och
        kreativ själ letar jag alltid efter de berättelser som ligger precis under ytan, de detaljer ingen lagt märke
        till men som förändrar allt när man väl ser dem.
      </p>
      <br />
      <p>
        Jag gillar att prata med människor, lyssna på deras tankar och fånga det där speciella som de själva kanske inte
        ens insett. Sedan berättar jag deras historier på mitt sätt – levande, nyfiket och med en vinkel som känns både
        självklar och helt ny på samma gång.
      </p>
      <br />
      <p>Har du en historia att dela eller en idé att utforska? Hör av dig – jag är alltid redo för ett samtal!</p>
    </Fragment>
  </Content>
</Layout>
